<h3>Hello <%= @invitee[1] %>,</h3>
<p><%= @user.first_name.capitalize + ' ' + @user.last_name.capitalize %> has invited you to join Brownfield. You can create an account <%= link_to "here", "https://brownfield-of-dreams-1908.herokuapp.com/register" %></p>
