---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1576032998'
      Etag:
      - W/"c6ac1d4efa725e3e93f0e916d14f23e2"
      X-Oauth-Scopes:
      - read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":162659364,"node_id":"MDEwOlJlcG9zaXRvcnkxNjI2NTkzNjQ=","name":"johnktravers","full_name":"check50/johnktravers","private":true,"owner":{"login":"check50","id":29168971,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI5MTY4OTcx","avatar_url":"https://avatars0.githubusercontent.com/u/29168971?v=4","gravatar_id":"","url":"https://api.github.com/users/check50","html_url":"https://github.com/check50","followers_url":"https://api.github.com/users/check50/followers","following_url":"https://api.github.com/users/check50/following{/other_user}","gists_url":"https://api.github.com/users/check50/gists{/gist_id}","starred_url":"https://api.github.com/users/check50/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/check50/subscriptions","organizations_url":"https://api.github.com/users/check50/orgs","repos_url":"https://api.github.com/users/check50/repos","events_url":"https://api.github.com/users/check50/events{/privacy}","received_events_url":"https://api.github.com/users/check50/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/check50/johnktravers","description":null,"fork":false,"url":"https://api.github.com/repos/check50/johnktravers","forks_url":"https://api.github.com/repos/check50/johnktravers/forks","keys_url":"https://api.github.com/repos/check50/johnktravers/keys{/key_id}","collaborators_url":"https://api.github.com/repos/check50/johnktravers/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/check50/johnktravers/teams","hooks_url":"https://api.github.com/repos/check50/johnktravers/hooks","issue_events_url":"https://api.github.com/repos/check50/johnktravers/issues/events{/number}","events_url":"https://api.github.com/repos/check50/johnktravers/events","assignees_url":"https://api.github.com/repos/check50/johnktravers/assignees{/user}","branches_url":"https://api.github.com/repos/check50/johnktravers/branches{/branch}","tags_url":"https://api.github.com/repos/check50/johnktravers/tags","blobs_url":"https://api.github.com/repos/check50/johnktravers/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/check50/johnktravers/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/check50/johnktravers/git/refs{/sha}","trees_url":"https://api.github.com/repos/check50/johnktravers/git/trees{/sha}","statuses_url":"https://api.github.com/repos/check50/johnktravers/statuses/{sha}","languages_url":"https://api.github.com/repos/check50/johnktravers/languages","stargazers_url":"https://api.github.com/repos/check50/johnktravers/stargazers","contributors_url":"https://api.github.com/repos/check50/johnktravers/contributors","subscribers_url":"https://api.github.com/repos/check50/johnktravers/subscribers","subscription_url":"https://api.github.com/repos/check50/johnktravers/subscription","commits_url":"https://api.github.com/repos/check50/johnktravers/commits{/sha}","git_commits_url":"https://api.github.com/repos/check50/johnktravers/git/commits{/sha}","comments_url":"https://api.github.com/repos/check50/johnktravers/comments{/number}","issue_comment_url":"https://api.github.com/repos/check50/johnktravers/issues/comments{/number}","contents_url":"https://api.github.com/repos/check50/johnktravers/contents/{+path}","compare_url":"https://api.github.com/repos/check50/johnktravers/compare/{base}...{head}","merges_url":"https://api.github.com/repos/check50/johnktravers/merges","archive_url":"https://api.github.com/repos/check50/johnktravers/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/check50/johnktravers/downloads","issues_url":"https://api.github.com/repos/check50/johnktravers/issues{/number}","pulls_url":"https://api.github.com/repos/check50/johnktravers/pulls{/number}","milestones_url":"https://api.github.com/repos/check50/johnktravers/milestones{/number}","notifications_url":"https://api.github.com/repos/check50/johnktravers/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/check50/johnktravers/labels{/name}","releases_url":"https://api.github.com/repos/check50/johnktravers/releases{/id}","deployments_url":"https://api.github.com/repos/check50/johnktravers/deployments","created_at":"2018-12-21T03:11:21Z","updated_at":"2018-12-21T03:11:24Z","pushed_at":"2019-04-16T00:55:05Z","git_url":"git://github.com/check50/johnktravers.git","ssh_url":"git@github.com:check50/johnktravers.git","clone_url":"https://github.com/check50/johnktravers.git","svn_url":"https://github.com/check50/johnktravers","homepage":null,"size":77089,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":213467321,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM0NjczMjE=","name":"little_shop_1908","full_name":"CoopTang/little_shop_1908","private":false,"owner":{"login":"CoopTang","id":8922930,"node_id":"MDQ6VXNlcjg5MjI5MzA=","avatar_url":"https://avatars2.githubusercontent.com/u/8922930?v=4","gravatar_id":"","url":"https://api.github.com/users/CoopTang","html_url":"https://github.com/CoopTang","followers_url":"https://api.github.com/users/CoopTang/followers","following_url":"https://api.github.co[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1576032998'
      Etag:
      - W/"64bdb4508b916[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1576032998'
      Etag:
      - W/"73b73a60a2a61[...]
- request:
    method: get
    uri: https://api.github.com/users/rhksdg324?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1576032998'
      X-Oauth-Scopes:
      - read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/users/#get-a-single-user"}'
  recorded_at: Wed, 11 Dec 2019 01:59:16 GMT
[...]
